<h1>Ask a question to your coach!</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question_to_coach" placeholder="What do you want to do now?">
  <input type="submit" value="Go on!">
</form>
